.navi {
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 20px;
  color: #a3a3a3;
  margin-top: 15px;
  padding: 0 20px;
  p {
    text-transform: uppercase;
    text-align: center;
  }
  i {
    font-size: 30px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 25px 0;
  button {
    min-width: 200px;
    height: 40px;
  }
  @media screen and (max-width: 475px) {
    justify-content: center;
    button {
      margin: 10px 0 0 0;
    }
  }
}

.details {
  margin-bottom: 0;
  color: #c3c3c3;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.transfers {
  &__item {
    padding: 0 20px;
    color: #c3c3c3;
    margin: 15px 0 20px;
  }
  &__heading {
    padding-left: 40px;
    background-image: url("../img/yellow-circle.png");
    background-size: 24px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-position: left center;
    &.active {
      background-image: url("../img/green-circle.png");
    }
    @media screen and (max-width: 355px) {
      h4 {
        font-size: 20px;
      }
    }
  }
  &__description {
    margin-left: 12px;
    padding-left: 28px;
    padding-bottom: 30px;
    border-left: 1px solid #c3c3c3;
  }
  &__text {

  }
  &__date {

  }
}

.myModal {
  background-color: rgba(195, 195, 195, 0.5);
  padding: 25px 25px 70px;
  position: fixed;
  top: 0;
  left: 15px;
  height: 100%;
  width: 100%;
  display: none;
  &__content {
    background: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .valute {
      width: 200px;
    }
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
  }
  &__qrcode {
    display: block;
    width: 60%;
    margin: 15px auto;
    max-width: 300px;
    img {
      width: 100%;
    }
  }
  &__text {
    text-align: center;
    margin-top: 20px;
    color: darkgrey;
    text-transform: uppercase;
  }
  &__code {
    text-align: center;
    margin-top: 20px;
    color: darkgrey;
    font-weight: bold;
  }
  button {
    width: 160px;
    &:first-child {
      margin-right: 15px;
    }
  }
}