@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  min-height: 840px;
}

.wrapper {
  max-width: 960px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 150px;
  padding: 35px 0;

  &__photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    img {
      width: 70%;
      display: block;
    }
  }
  &__logo {
    text-align: center;
    padding-top: 10px;
    img {
      height: 100px;
      //width: auto;
      @media screen and (max-width: 500px) {
        height: auto;
        width: 100%;
      }
    }
  }
  &__settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    img {
      width: 70%;
      display: block;
    }
  }
}

.buttonGroup {
  text-align: center;
  border: 3px solid #5fb722;
  border-radius: 15px;
  padding: 0;
  font-size: 22px;
  margin-top: 40px;
  button {
    border: none;
    cursor: pointer;
    background: transparent;
    color: #5fb722;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 0 12px 12px 0;
    @media screen and (max-width: 370px){
      padding: 10px 15px;
    }
    &.active {
      background-color: #5fb722;
      color: white;
      border-radius: 12px 0 0 12px;
    }
  }
}

.loading {
  margin-top: 30px;
  margin-bottom: 30px;
  i {
    color: #d6d6d6;
    font-weight: 100;
    font-size: 40px;
    transform: rotate(-30deg);
  }
}

.contentItem {
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 120px;
}

.valute {
  display: flex;
  align-items: center;
  &__icon {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    &.btc {
      background-color: #fdbb02;
    }
    &.eth {
      background-color: #7b83b2;
    }
    img {
      width: 100%;
    }
  }
  &__text {
    margin-left: 10px;
    color: #a5a5a5;
    h4 {
      margin: 0;
      padding: 0;
      font-size: 38px;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 22px;
    }
    @media screen and (max-width: 480px) {
      h4 {
        font-size: 28px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.balance {
  align-self: flex-end;
  p {
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 35px;
    color: #a5a5a5;
    @media screen and (max-width: 480px) {
      font-size: 25px;
      line-height: 25px;
      justify-self: flex-end;
    }
  }
}

@import "balance";