
<head>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/font-awesome.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet"/>
  <script src="js/libs/jQuery 3.2.1.js"></script>
</head>