extends layout/template

block title
    title Заголовок

block scripts


block content
    .wrapper
        .container
            header.navi
                .row
                    .col-2
                        i.fa.fa-angle-left
                    .col-8
                        p btc balance
        .container
            .row
                .col-12
                    .contentItem
                        .valute
                            .valute__icon.btc
                                img(src="img/btc.png")
                            .valute__text
                                h4 BTC
                                p Bitcoin
                        .balance
                            p 928,031
                        .buttons
                            button.btn.btn-primary Send
                            button.btn.btn-success Receive
                        p.details#showModal view yor bitcoin address
            .row.justify-content-center
                .col-12.col-md-10
                    .transfers
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading.active
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
        .container-fluid
            .row.myModal#modal
                .col-12.myModal__content
                    .myModal__close#modalHide
                        i.fa.fa-times
                    .row.justify-content-center
                        .col-4
                            .valute
                                .valute__icon.btc
                                    img(src="img/btc.png")
                                .valute__text
                                    h4 BTC
                                    p Bitcoin
                    .row.myModal__qrcode
                        img(src="img/qrcode.jpg")
                    .row
                        .col-12
                            p.myModal__text your bitcoin public address
                            p.myModal__code 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
                    .row.justify-content-center
                        button.btn.btn-success Copy
                        button.btn.btn-success Send
    script(src='js/script.js')