extends layout/template

block title
    title Заголовок

block scripts


block content
    .container
        .wrapper
            header.header
                .row
                    .col-3.col-md-2
                        .header__photo
                            img(src="img/profile.png")
                    .col-6.col-md-8
                        .header__logo
                            img(src="img/logo.png")
                    .col-3.col-md-2
                        .header__settings
                            img(src="img/settings.png")
                .row.justify-content-center
                    .buttonGroup
                        button.active Balance
                        button Trades
                .row.justify-content-center
                    .loading
                        i.fa.fa-refresh
                .row
                    .col-12
                        .contentItem
                            .valute
                                .valute__icon.btc
                                    img(src="img/btc.png")
                                .valute__text
                                    h4 BTC
                                    p Bitcoin
                            .balance
                                p 928,031
                        .contentItem
                            .valute
                                .valute__icon.eth
                                    img(src="img/eth.png")
                                .valute__text
                                    h4 ETH
                                    p Ethereum
                            .balance
                                p 42,736,603